<!--	
		_complete_list.html.erb
		Authors: Dominic Furano
		Date: 4/25/14
		Description: creates the list of completed todos.
-->

<% @todo_items.each do |t| %>
  <% if t.completed == true %>
    <li style="color:grey;">
      <%= check_box_tag "todos_checkbox[]", t.id %>
      <%= label_tag "todos_checkbox[]", t.todo_item, :class => "checkbox inline completed" %>
    </li>
  <% end %>
<% end %>
