<!--	
		help.html.erb
		Author: Michael Smith
		Date: 4/25/14
		Description: contains HTML for the Help page.
-->

<title>Todos Help</title>
<div class="container">
  <div class="row">
    <div class="span3"></div>
    <div class="span6">
	  <h1>Help</h1>
	  <hr/>
	    <b>How do I make a new todo item?</b>
	    <p>Click "new" on the navigation bar at the top of the page. 
		The todo item can't be blank.</p>
		
		<b>Where's the todo item I just made?</b>
		<p>It's on the "incomplete" page. You can check off items as you do them here.</p>
		
		<b>I made a todo item by mistake.</b>
		<p>If you don't want to do an item anymore, you can delete it the "incomplete" page.</p>
		
		<b>How do I review which items I've completed?</b>
		<p>Once you've completed a todo item, you can review your accomplishment on the "completed" page.</p>
		
		<b>I mistakenly marked an incomplete todo item as complete.</b>
		<p>Go to the "completed" page. You can make the item incomplete again by selecting it and clicking the green undo 
		button.</p>
		
		<b>How do I get rid off all these old todos?</b>
		<p>Go to the "completed" page. Clean up your history by selecting old items and clicking the red
		delete button.</p>
	  
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
